coverage
httmock
jinja2
mock
pytest
pytest-cov
sphinx==3.2.1
sphinx_rtd_theme
responses
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
